Repository papa-yus-recipes/papayus-public: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.json": ["prettier --write"],
  "*.ts": ["eslint --fix"]
}

feat: add prepare-commit-msg hook to use commitizen
  .husky/prepare-commit-msg
Due: none

build(commitizen): move config into dedicated file
  .czrc
  package.json
  yarn.lock
Due: prettier --write

build(tsconfig): target ES6 & remove paths
  tsconfig.json
Due: prettier --write

style(one-var): set to never
  .eslintrc.json
Due: prettier --write

build(tsc): use tsc-files during lint-staged without emits
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  yarn.lock
Due: prettier --write

build(typescript): compile to ESNext modules
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

build: add template for public & tests directories
  .eslintrc.json
  jest.config.ts
  nodemon.json
  package.json
  public/index.ts
  public/tsconfig.json
  src/tsconfig.json
  tests/public/index.test.ts
  tests/src/index.test.ts
  tests/tsconfig.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

feat: add express
  .env.example
  package.json
  src/index.ts
  src/tsconfig.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

build: change configurations for public directory
  .eslintrc.json
  nodemon.json
  package.json
  public-ts/index.ts
  public-ts/tsconfig.emit.json
  public-ts/tsconfig.json
  public/index.html
  public/index.js
  public/styles.css
  public/tsconfig.json
  src/tsconfig.emit.json
  tests/tsconfig.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

feat: add Bootstrap template
  public/index.html
Due: none

docs: add README.md & comments to aid setup
  README.md
  package.json
  public/index.html
Due: prettier --write

fix(tsconfigs): enable emits on composite projects
  public-ts/tsconfig.emit.json
  public-ts/tsconfig.json
  src/tsconfig.emit.json
  src/tsconfig.json
Due: prettier --write

fix: change entry points to dist/index.js
  package.json
Due: prettier --write

build(tsconfigs): remove composites
  package.json
  public-ts/tsconfig.emit.json
  public-ts/tsconfig.json
  src/tsconfig.emit.json
  src/tsconfig.json
  tests/tsconfig.json
  tsconfig.json
Due: prettier --write

style: fix typo in env.example, shorten build scripts
  .env.example
  package.json
Due: prettier --write

build(configs): squeeze configs & upgrade dependencies
  .czrc
  .lintstagedrc.json
  .nvmrc
  nodemon.json
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

build+fix(webpack): use webpack instead of tsc to compile typescript
  package.json
  public-ts/tsconfig.json
  public/bundle.js
  public/index.html
  public/index.js
  public/styles.css
  src/tsconfig.json
  tests/public/index.test.ts
  tests/public/index.ts
  tests/public/tsconfig.json
  tests/src/index.test.ts
  tests/src/index.ts
  tests/src/tsconfig.json
  tests/tsconfig.json
  tsconfig.json
  webpack.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

refactor: make configs file to handle environment variables
  .env.example
  package.json
  src/configs.ts
  src/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

revert(748cdfe): stop forcing the use of commitizen
  .husky/prepare-commit-msg
Due: none

feat(post-merge hook): auto install packages on merge
  .husky/post-merge
Due: none

build(upgrade): use node 16.13.1
  package.json
  yarn.lock
Due: prettier --write

refactor(webpack->tsc): use tsc & node with environment variables
  package.json
  src/tsconfig.json
  webpack.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat(branch): split off web template from main branch
  .env.example
  package.json
  public-ts/index.ts
  public-ts/tsconfig.json
  public/bundle.js
  public/index.html
  src/configs.ts
  src/index.ts
  tests/index.ts
  tests/public/index.ts
  tests/public/tsconfig.json
  tests/src/index.ts
  tests/src/tsconfig.json
  tests/tsconfig.json
  webpack.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix(jest): modify config files to resolve module mapping errors
  .eslintrc.json
  jest.config.ts
  tests/tsconfig.json
Due: prettier --write, eslint --fix

build(tsconfigs): clean up emits & emit declaration files for src
  src/tsconfig.json
  tsconfig.json
Due: prettier --write

build(dependencies): update
  package.json
  yarn.lock
Due: prettier --write

feat(public): add public template
  package.json
  public-ts/index.ts
  public-ts/tsconfig.json
  public/index.html
  webpack.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

build(nodemon): split configs into public & src, each with its own config file
  nodemon.public.json
  nodemon.src.json
  package.json
Due: prettier --write

feat(express): add express boilerplate
  src/configs.ts
  src/index.ts
Due: eslint --fix

refactor: set up server in solated file; call dotenv.config & server.listen in index
  src/configs.ts
  src/index.ts
  src/server.ts
Due: eslint --fix

feat(supertest): add to test express
  package.json
  yarn.lock
Due: prettier --write

fix(public): ignore bundle.js & add styles.css
  .gitignore
  public/styles.css
Due: none

build(nodemon): split configs into public & src, each with its own config file
  package.json
  public-ts/nodemon.json
  src/nodemon.json
  tests/index.ts
Due: prettier --write, eslint --fix

feat(express): add express boilerplate
  src/index.ts
Due: eslint --fix

style: rename src to server; public-ts to client
  .eslintrc.json
  README.md
  client/index.ts
  client/nodemon.json
  client/tsconfig.json
  jest.config.ts
  package.json
  public-ts/nodemon.json
  server/configs.ts
  server/index.ts
  server/nodemon.json
  server/server.ts
  server/tsconfig.json
  tests/tsconfig.json
  webpack.config.ts
Due: prettier --write, eslint --fix

build(nodemon): add dev script to work on client & server simultaneously
  nodemon.json
  package.json
Due: prettier --write

refactor(configs+server): split configs into a directory and nest server under connections
  .env.example
  server/configs.ts
  server/configs/getEnvVar.ts
  server/configs/index.ts
  server/configs/server.config.ts
  server/connections/index.ts
  server/connections/server.ts
  server/index.ts
Due: eslint --fix

feat(server): add DynamoDB config & Models
  .env.example
  package.json
  server/Models/Recipe.ts
  server/Models/Review.ts
  server/Models/SavedRecipe.ts
  server/Models/Tag.ts
  server/Models/User.ts
  server/Models/index.ts
  server/configs/aws.config/dynamodb.config.ts
  server/configs/aws.config/index.ts
  server/configs/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

refactor(Models): move common definitions into definitions.ts
  server/Models/Recipe.ts
  server/Models/Review.ts
  server/Models/SavedRecipe.ts
  server/Models/User.ts
  server/Models/definitions.ts
Due: eslint --fix
